body {
  background-color: #011111;
  color: #ddd;
  font-family: 'Sorts Mill Goudy', serif;
}

section {
  width: 100%;
  height: 100vh;
}

section:nth-child(odd) {
  z-index: 10;
}

p {
  display: inline-block;
  font-family: serif;
  font-size: 1.25em;
}

h3 {
  font-family: serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #eee;
}

a:visited {
  color: #ccc;
}

a:hover {
  text-decoration: underline;
  color: #eee;
}

a:active {
  text-decoration: underline;
  color: #fff;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #288888;
  color: #f2f2f2;

  width: 100%;
  height: 88px;

  padding-left: 7%;
}

#menu h1 {
  display: inline-block;
  padding-right: 7%;
}

#menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#menu div {
  display: inline-block;
}

#menu li {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.50em;
}

.content {
  padding-top: 220px;
  padding-left: 7%;
}

.padding {
  padding-left: 7%;
}

section#projects {
  background-image: url("../img/backgrounds/background-1.jpg");
}

section#contact {
  background-image: url("../img/backgrounds/background-2.jpg");
}
